<div class="centre hero-unit">

<h1>Welcome home</h1>
<% provide(:title, 'Home') %>

<h1>This is being build from scratch.</h1>
<p>Find me in app/views/stage/home.html.erb</p>

<p> Keep Calm and Keep Coding and Collaborating. </p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>

<%= link_to image_tag("jiit_logo.png", alt: "JIIT"), 'http://jiit.ac.in' %>


