<h1>Sample App</h1>
<% provide(:title, 'Home') %>

<h1>Stage#home</h1>
<p>Find me in app/views/stage/home.html.erb</p>

<p> This is little big of dynamic magic coming from the application.html.er b of th elayout section</p>


